[2018-05-07 03:52] amicewong opened #1 "Subcollection"
Thanks for your sharing. But I have issue on export the subcollection

This is, the following works
'node export.js users'

But the following does not work
'node export.js users userbehaviour'

Am I using it correctly? Please kindly advise. Thanks.

[2018-05-07 13:01] dalenguyen commented on #1
Hi @amicewong, this is an NPM package. You should follow the instruction to export it properly.

[code]

Otherwise, try the original one: https://github.com/dalenguyen/firestore-import-export
And if you have any error, please include it in the issue :)

[2018-05-07 13:01] #1 closed

[2018-05-10 13:35] sarnecki-cic opened #2 "Data hidden as [Object]"
Hi,
When I try to export my data I got objects as [Object] (not the real data).

so e.g.:
`{key: {
disciplines: [Object],
finance: [Object]
}}`

Could you tell my why?

[2018-05-10 13:45] dalenguyen commented on #2
Hi @sarnecki-cic, the console.log doesn't print the complex object to the terminal. You can try to use JSON.stringify() to get it.

[code]

[2018-05-10 13:45] #2 closed

[2018-06-13 16:15] p1ll0wf0rtress opened #3 "Example only outputs "Geting data from: [collection name]""
As the subject says - this is the only output I'm receiving from the example providing.

[2018-06-13 16:43] dalenguyen commented on #3
Hi @p1ll0wf0rtress, could you please provide more info like the version that you are using and which code that you tried. Thanks,

[2018-06-13 16:50] p1ll0wf0rtress commented on #3
Hi @dalenguyen

Version: ^0.1.3

`const firestoreService = require('firestore-export-import');
const serviceAccount = require('./serviceAccountKey.json');

// Initiate Firebase App
firestoreService.initializeApp(serviceAccount, "https://my-database-url.firebaseio.com");

// Start exporting your data
let result = firestoreService.backup('my-collection', 'my-sub-collection');

result.then((data) =>

[2018-06-13 16:56] dalenguyen commented on #3
Hi @p1ll0wf0rtress, when you start exporting your data, you should replace 'my-collection' with your actual collection name. E.g. customers, or users or whatever you want.

[code]

[2018-06-13 16:57] p1ll0wf0rtress commented on #3
Hi @dalenguyen,

I do have my collection and sub-collection actually in my code. Just changed it back for security sake.

[2018-06-13 17:13] dalenguyen commented on #3
Ok, so which NODE, NPM version that you are using?
Does it have any error and can you take a snapshot while you're running it?

Please also print out the result.

`console.log(result)`

[2018-06-13 17:16] p1ll0wf0rtress commented on #3
Node: 8.11.3
NPM: 6.0.0

No errors. Only output from the console is
`Geting data from:  events`

[2018-06-13 18:01] dalenguyen commented on #3
Everything looks fine to me. Your Node and NPM are even higher than mine. Please check your 'serviceAccountKey.json' and collection names. If it still doesn't work, please try this:

https://github.com/dalenguyen/firestore-import-export

[2018-06-13 18:01] #3 closed

[2018-08-18 20:33] jcummings2 opened #7 "Export all"
I would like to export all the collections in a given database. I have come up with this code that works (pending pull request #6):

[code]

Is there a better or more efficient way to get all of the data?

[2018-08-26 17:42] dalenguyen commented on #7
Thanks @jcummings2, this is an excellent way to get all of the current collection names. I updated this on the newest version of this page.

[2018-08-26 17:42] #7 closed

[2018-09-21 23:00] kmcnellis opened #10 "Should use the official restore APIs"
https://firebase.google.com/docs/firestore/manage-data/export-import

[2018-10-11 03:03] AlexVFornazieri commented on #10
Hello @kmcnellis,

Unfortunately the documentation implies (for me) that this official feature of Firebase is only by shell command, does not have an integration programmatically ... and how it is exported is not very well usual, as the json tree that this package offers.

Waiting for others opinions.

[2018-10-19 14:59] AlexVFornazieri opened #11 "restore() don't return a Promise"
Hey guys,

The restores method doesn't return a Promise, don't should return like others methods?

I implemented that resource in firebase functions (google cloud), but because no exist promise returned is not work propely, just sometimes, becouse the request responde before finsh the restore process.

Thanks for any help.

[2018-12-09 12:33] kglowacki opened #12 "geopoint export/import mismatch"
when geopoint is exported, it is serialised as plain json object and after importing such file in database it will be a plain map, not a 'GeoPoint' field. I'd consider adding some 'type' discriminator field during export and using it to restore a proper type later on.

[2019-05-29 05:39] jefelewis commented on #12
Can we upload a Geopoint? It seems to only upload as a map during import as well.

[2019-05-29 13:28] dalenguyen commented on #10
Closed due to inactivity.

[2019-05-29 13:28] #10 closed

[2019-05-29 18:09] dalenguyen commented on #12
Hi @kglowacki @jefelewis, this is fixed. Please update the package to v0.1.9. Thanks,

[2019-05-29 18:09] #12 closed

[2019-05-29 18:54] dalenguyen commented on #11
Hi @AlexVFornazieri, sorry for the late fix (v0.2.0) :)

[2019-05-29 18:54] #11 closed

[2019-05-29 20:17] jefelewis opened #13 "Cloud Firestore Geopoints"
I'm trying to import locations with Geopoints, but the Geopoints are showing as Maps in Cloud Firestore

**Import Code:**
    // Imports
    const firestoreService = require('firestore-export-import');
    const firebaseConfig = require('../config/config.js');
    const serviceAccount = require('../config/serviceAccount.json');

    // JSON To Firestore
    const jsonToFirestore = async () => {

[2019-05-29 20:22] dalenguyen commented on #13
Hi @jefelewis, which version of **firestore-export-import** you are using?

[2019-05-29 22:20] jefelewis commented on #13
I'm using firestore-export-import **0.1.7.**

[2019-05-29 22:43] jefelewis commented on #13
Hey @dalenguyen, I see you updated to 0.2.0 with geoArray.  I updated and tried a few different ways, but what is the correct json syntax to upload a geoppoint as a geoArray?

[2019-05-30 01:40] dalenguyen commented on #13
Hi @jefelewis, you have to add the location to the parameter when you import it to the firebase

[code]

[2019-05-30 02:19] jefelewis commented on #13
@dalenguyen Ahhh thank you! I’ll give it a try when I get home. I’m guessing date1 is nanoseconds and date2 is seconds?

[2019-05-30 13:05] dalenguyen commented on #13
@jefelewis, date1 and date2 are not the nanoseconds and seconds. It's the name of your date type. If you have more than one date type in your JSON, for example, startDate or endDate, then you will put them in the parameter as an array ['startDate', 'endDate']. The same goes for location type.

[2019-06-13 18:44] dhruveonmars opened #15 "Risks of exporting"
Hey,

I've been testing this out and was wondering if there were any risks of exporting data, and what they are?

[2019-06-13 19:52] dalenguyen commented on #15
Hi @dhruveonmars, as far I as know, everything is in your computer when you do it. If you lose your computer, you may expose the configuration file :D

[2019-06-13 19:59] dhruveonmars commented on #15
Aha, ok great. Thanks!

[2019-06-13 19:59] #15 closed

[2019-06-22 05:30] derd opened #16 "Restore backup from firebase storage bucket"
hi i am i get successful backup and upload file to bucket now i  want to resotre that backup but  i cant get i facing some error

` path must be a string or Buffer`

and give direct URL to function  give same error how i restore data

please help me thanks in advance..

[2019-06-22 05:50] derd commented on #16
i give buffer string its return

**status: false,
  message: 'ENOENT: no such file or directory,**

[2019-06-22 11:23] dalenguyen commented on #16
Hi @derd, what is the code that you are using to restore? And how do you organize your data?

[2019-06-22 11:24] dalenguyen commented on #13
Closed due to inactivity.

[2019-06-22 11:24] #13 closed

[2019-06-22 11:53] derd commented on #16
here is the code.

![Annotation 2019-06-22 172039](https://user-images.githubusercontent.com/45867306/59963558-46b92700-9512-11e9-9f48-8ce701c4d80a.jpg)

data i want to restore.

![Anqweqwe](https://user-images.githubusercontent.com/45867306/59963559-4751bd80-9512-11e9-8375-5a9f37e4dca2.jpg)

[2019-06-22 11:58] dalenguyen commented on #16
Hi @derd, the restore feature is based on a backup file on your computer. If you download from the storage and pass it directly to the script, it may not work. Can you download the file in advance and re-run the restore script?

[2019-06-22 12:02] derd commented on #16
`error234 { status: false, message: 'ENOENT: no such file or directory, open \'./backup.json\'' }`

`SyntaxError: Unexpected token u in JSON at position 0
    at Object.parse (native)
    at ReadFileContext.callback (/user_code/node_modules/firestore-export-import/dist/import.js:5:20)
    at FSReqWrap.readFileAfterOpen [as oncomplete] (fs.js:367:13)`

when using local file i get this in function l

[2019-06-22 12:05] dalenguyen commented on #16
Hi @derd, check the path of your JSON file. You can use an absolute path if you want.

[2019-06-22 12:08] derd commented on #16
@dalenguyen  thanks for help out but , sorry file is location no problem with that.. i have double check...

[2019-06-22 12:16] derd commented on #16
anything i missed out @dalenguyen, so i correct my self.

[2019-06-22 12:19] dalenguyen commented on #16
@derd I'm not sure if you don't have sample code to experiment with. You can start by taking a look at the test folder: https://github.com/dalenguyen/firestore-backup-restore/tree/master/test

[2019-06-22 12:59] derd commented on #16
@dalenguyen i look the code same no different at all but i am using cloud functions so its that problem? if yes so what can i do.

[2019-06-22 13:11] dalenguyen commented on #16
@derd, it's true. The backup uses fs.readFile() in order to get the file's content. It won't work if you pass a JSON directly to it. I need to rewrite the function in order to support this new feature.

[2019-06-22 13:15] derd commented on #16
@dalenguyen it's great pass JSON directly so, i wait for new feature. thanks for support. now i close this issue.

[2019-06-22 13:15] #16 closed

[2019-06-22 14:22] dalenguyen commented on #16
Hi @derd, please try again in v0.2.3

[2019-06-22 14:51] derd commented on #16
Thank you for your fast support @dalenguyen  thanks..

[2019-07-04 07:58] thehuangkai opened #17 "Can I import subcollections?"
First of all, great package here, its amazing!

Just want to ask if subcollections can be imported, the front page says yes but I can't seem to find relevant code samples.

[2019-07-12 21:07] dalenguyen commented on #17
Hi @thehuangkai, the export feature work with sub collection. I will try to add the import with sub collection later.

[2019-07-21 00:21] dalenguyen commented on #17
@thehuangkai you can now import with subcollections. Please update the package to v0.2.6

[2019-07-21 00:21] #17 closed

[2019-08-03 15:40] raghavsatyadev opened #18 "[Feature Request] Support for batched operations"
Firestore supports batched operations, this library would be really good if you can support this. a batch can support 500 operation max, here's the URL for batched operations

https://firebase.google.com/docs/firestore/manage-data/transactions#batched-writes

[code]

[2019-08-12 12:58] aronrodrigues opened #19 "Clear collection"
There is any flag/attribute/command to clear the collection prior to a restore?

[2019-08-12 14:24] aronrodrigues commented on #19
https://github.com/dalenguyen/firestore-backup-restore/pull/20

[2019-08-14 15:47] psico-digital opened #21 "Firebase Functions firestoreService.initializeApp() conflicting with admin.initializeApp()"
I'm trying to run automated backups using a pubsub firebase function, but when I run `firestoreService.initializeApp()`, it conflicts with my `admin.initializeApp()`. The Error is:

_Error: The default Firebase app already exists. This means you called initializeApp() more than once without providing an app name as the second argument. In most cases you only need to call initializeApp() once. But

[2019-08-15 06:02] fairydhwen opened #22 "Import a date-time field"
I got a json files with >20k entries. Each one got datetime fields like that : "2018-01-02T01:00:00"
After importing, firestore set this field to string. Is there any way to import them with the correct type: Timestamp ?

Regards,

Fairy

[2019-08-15 16:02] dalenguyen commented on #22
Hi @fairydhwen , id you added the name of the date to the parameter?

[code]

[2019-08-16 12:22] fairydhwen commented on #22
Ty for your answer. I now use the date param but it lookz like the date field must be in "seconds" ? this is not my date format. What do you think i should do  ?

Regards,

Fairy

[2019-08-16 13:23] dalenguyen commented on #22
Hi @fairydhwen, the date format should follow the sample file: https://github.com/dalenguyen/firestore-backup-restore/blob/master/test/import-to-firestore.json

I suggest that you can create a local algorithm, loop through the file and convert it to the right format locally. After that you can import to your firestore.

[2019-08-17 04:41] #22 closed

[2019-08-17 18:56] dalenguyen commented on #21
@psico-digital you can use either _firestoreService.initializeApp()_ or _admin.initializeApp()_. Don't use both.

[2019-08-20 18:39] psico-digital commented on #21
I was running the function every 1 minute to test. I changed it to every 24 hours and the error stopped even with both initializations.

[2019-08-20 18:39] #21 closed

[2019-08-30 22:42] manzolirch opened #23 "how to don't rewrite collections?"
I sending a Json to my database in Firebase, but all time i sending the collections is rewriting..

[2019-08-31 11:17] dalenguyen commented on #23
@manzolirch can you explain your question with detail and example?

[2019-09-02 13:36] manzolirch commented on #23
I sending a JSON to Database.

Code to Upload Json to Database
[code]

Whenever I send this json he is rewrite
![image](https://user-images.githubusercontent.com/26907629/64118048-2bb62f00-cd6d-11e9-8f2d-a7b655304856.png)

I want create a new Coletion 0, 1, 2, 3 every time a send the JSON!

[2019-09-04 14:47] dalenguyen commented on #23
Hi @manzolirch, make sure that your json follows the format based on this https://github.com/dalenguyen/firestore-backup-restore/blob/master/test/import-to-firestore.json

[2019-09-17 10:54] arturomf opened #25 "How to handle reference field in imports"
Hi, i'm trying to import a JSON with some reference fields, but i don't know how to do it. If i put this field in JSON as string, obviously, it's imported as string.

It's that possible? Thanks!

![Captura de pantalla 2019-09-17 a las 12 52 28](https://user-images.githubusercontent.com/13641583/65035677-14b93480-d94a-11e9-9f13-299a776428d6.png)

[2019-09-17 13:13] dalenguyen commented on #25
Hi @arturomf this package hasn't support reference yet. I will update it soon.

Found a useful source that can be used: https://stackoverflow.com/questions/51292378/how-do-you-insert-a-reference-value-into-firestore

[2019-09-17 13:16] arturomf commented on #25
Thanks @dalenguyen for the link! I will take a look and wait for your update!

[2019-10-01 15:53] Supamiu opened #26 "Deadline Exceeded when fetching very large collection"
I have a collection containing ~80000 documents that can go from 50kB to ~900kB. When trying to fetch the entire collection to push it inside a backup file, I get the following error:

[code]

Here is the code I'm using to fetch data:

[code]

[2019-10-03 06:19] Supamiu commented on #26
Maybe this could be solved by using [query cursors](https://firebase.google.com/docs/firestore/query-data/query-cursors), I couldn't get a proper working implementation so far thought.

The main issue is that it seems like after a given amount of pages, firestore sends a timeout no matter what, it is also quite hard to detect the moment you need to stop, as it's not possible to count documents wit

[2019-10-07 10:57] olivierlevy opened #27 "migrate Firebase environments"
Hello,

You shall add a 3rd optional `name?: string` param in your initializeApp function in order to give a unique app name to initialize multiple apps.
This way we could use you great tool to copy collection from a Firebase environment to another.

[2019-10-20 01:49] francodgstn commented on #27
Hi,

 I created a cli for `firestore-export-import` to speed up the data migration: [firestore-migrator-cli](https://github.com/francodgstn/firestore-migrator-cli)
Unfortunately you still need to run it twice for export/import.

[2019-10-20 12:53] olivierlevy commented on #27
Nice, I will give it a try!

[2019-11-05 16:49] muhammedjenos opened #30 "date inside an object"
Hi,

if my date field is inside an object, adding ['objectkey.date'] in the optional parameter is not working to add date as a timestamp. it throws an error as below

Please check your date parameters!!! [ 'updated.date' ]

Any idea, how to add optional date keys when the date is inside an object in the JSON file?

please help @dalenguyen

Thanks

[2019-11-11 11:15] muhammedjenos commented on #30
Anyone? :(

[2019-11-11 16:58] #30 closed

[2019-11-27 07:52] ltduc opened #32 "How to import field timestamp in import?"
Hi, i'm trying to import a JSON with field timestamp, but i don't know how to do it.

[2019-11-27 13:53] dalenguyen commented on #32
Hi @ltduc, you needs to enter the name of the timestamp fields to the date array.

[code]
If your timestamp is startDate the the code should be

[code]

Please follow the file format: https://github.com/dalenguyen/firestore-backup-restore/blob/master/test/import-to-firestore.json

[2019-11-27 13:53] #32 closed

[2019-12-02 11:06] ltduc opened #33 "How to import field nested timestamp 2 level in import?"
Hi, i'm trying to import a JSON with field nested timestamp 2 level, but i don't know how to do it.
Sample bellow with 3 field: date, date1, date2

Please, Help for me!
Thanks!

[code]

[2019-12-02 14:18] dalenguyen commented on #33
@ltduc it's in the readme.md. E.g.

[code]

[2019-12-02 16:10] ltduc commented on #33
@dalenguyen i I received an error:
"
Please check your date parameters!!! date2
first-key was not imported to firestore. Please check your parameters or ignore if you don't need to import the property above.
33J2A10u5902CXagoBP6 was successfully added to firestore!
MSZTWEP7Lewx0Qr1Mu5s was successfully added to firestore!
"
Because: field date2 in a sub collection.

What I have to do?
Thanks!

[2019-12-02 16:20] dalenguyen commented on #33
@ltduc check your firestore if the sub-collection has the data or not.

[2019-12-02 16:29] ltduc commented on #33
![pic1](https://user-images.githubusercontent.com/11805724/69976428-8f621b00-155b-11ea-82ad-d8574902710a.png)
![pic2](https://user-images.githubusercontent.com/11805724/69976447-95f09280-155b-11ea-88c8-f03f726f1a0a.png)

[2019-12-02 16:35] dalenguyen commented on #33
Thanks @ltduc I need to recheck the function. It may take a while.

[2019-12-02 16:44] ltduc commented on #33
Ex2:
Do: firestoreService.restore('your-file-path.json', ['date', 'date2', 'author.date1'], ['location']);

Error:
Please check your date parameters!!! date
Please check your date parameters!!! date2
Please check your date parameters!!! author.date1
Please check your geo parameters!!! [ 'location' ]
first-key-1 was not imported to firestore. Please check your parameters or ignore if you don't need

[2019-12-02 16:47] ltduc commented on #33
@dalenguyen Review to checking soon!

Thanks!

[2019-12-02 18:23] luv4ever2shail opened #34 "How to prevent overwriting existing documents"
How to prevent overwriting existing documents within a collection.
Importing new data to existing collection overwrites the documents present.

[2019-12-06 20:49] dalenguyen commented on #33
@ltduc please update the new version v0.3.1 and try again.

[2019-12-06 20:50] dalenguyen commented on #34
@luv4ever2shail yeah, basically it's how it works now. You can try to replace document-id.

[2019-12-06 20:50] #34 closed

[2019-12-06 20:50] #33 closed

[2019-12-27 16:11] PramodJoshi opened #35 "Unhandled Promise Rejection Error"
Hello, i am trying to import local data to firestore using example code `firestoreService.restore....` but i am getting `Unhandled promise rejection` error, screenshot below. Any ideas on how to fix this?

<img width="946" alt="Screen Shot 2019-12-27 at 10 11 14 AM" src="https://user-images.githubusercontent.com/17320471/71524036-4454d280-2891-11ea-9513-15c03fdc2bcc.png">

[2019-12-30 22:44] Guy-Dvir commented on #35
+1 for me

[2019-12-31 23:05] dalenguyen commented on #35
@Guy-Dvir @PramodJoshi restore is a Promise. You can try to catch it with catch or trycatch

[code]

[2020-01-26 13:42] eeschiavo commented on #21
I also have this problem. Before adding **firestore-backup-restore**, I had:
`admin.initializeApp({
            credential: admin.credential.cert(serviceAccount),
            databaseURL: process.env.DATABASE_URL
        });`

to init Firebase (successfully).
After adding it, doing
`firestoreService.initializeApp(process.env.SERVICE_ACCOUNT_FILE, process.env.DATABASE_URL);`
cause an error (_duplic

[2020-01-26 19:22] dalenguyen commented on #21
Hi @eeschiavo, what happens if you only use admin to initialize the Firebase app?

[code]

[2020-02-06 14:13] JonesM87 opened #36 "Timestamps"
deleted

[2020-02-06 14:16] #36 closed

[2020-02-06 14:16] JonesM87 commented on #36
error

[2020-03-01 11:05] vandres opened #37 "[FR] Export users"
Would be nice not only be able to export collections, but also users.

[2020-03-01 12:22] vandres commented on #37
Forget about that :D

[2020-03-01 12:22] #37 closed

[2020-03-09 07:04] Wobbley commented on #25
How is this coming along? I need this feature myself, but can do without, or try and hack it locally.

[2020-03-10 17:49] dalenguyen commented on #25
@Wobbley @arturomf I already added this feature to the dev branch. Just wait for the next release.

[2020-03-10 20:55] dalenguyen commented on #25
It's fixed in v0.3.3

[2020-03-10 20:55] #25 closed

[2020-03-13 21:36] Wobbley opened #40 "How to use the refs feature."
Hey

I asked not too long ago on how this one was coming along: https://github.com/dalenguyen/firestore-backup-restore/issues/25 Shortly after you release a new version supporting refs! :clap:

However I can't seem to get it to work. A example:

The object I want to reference has the path: /testCollectionA/documentA/
![image](https://user-images.githubusercontent.com/675423/76660393-20905700-6579-

[2020-03-16 14:10] dalenguyen commented on #40
Hi @Wobbley, thanks for your support. Make sure that you are using the latest version of the package which is **v0.3.3**.

The package supports ref for one element for not, not an array of the references. It will try to update to support an array of references. Meanwhile, let me know if the simple reference works. You can try with the sample file: https://github.com/dalenguyen/firestore-backup-res

[2020-03-18 00:15] dalenguyen commented on #40
Hi @Wobbley, I added support for an array of references. You can update to version 0.3.4 and try it again. Thanks,

![image](https://user-images.githubusercontent.com/14116156/76894880-5a0cdf00-6865-11ea-9fc2-1210ef37403e.png)

[2020-03-18 00:15] #40 closed

[2020-03-19 16:00] Gazizbek opened #42 "How to import array of locations"
I have an array of locations like below:
[code]
How to set the param geos? I tried geos: ['path', 'path[]', '[path]']

[2020-03-19 16:17] dalenguyen commented on #42
Hi @Gazizbek, geo doesn't support an array of the location yet. I will update the script to support it. So keep watching for the update :D

[2020-03-19 21:08] dalenguyen commented on #42
It's fixed. Please update to version 0.4.0

[2020-03-19 21:08] #42 closed

[2020-04-05 18:45] dalenguyen commented on #35
Closed Due to Inactivity

[2020-04-05 18:45] #35 closed

[2020-04-05 18:46] dalenguyen commented on #23
Closed Due to Inactivity

[2020-04-05 18:46] #23 closed

[2020-04-05 19:20] dalenguyen commented on #27
@olivierlevy it's deployed in version 0.5.0. Sorry for the long wait.

[2020-04-05 19:20] #27 closed

[2020-04-05 21:53] olivierlevy commented on #27
Thanks @dalenguyen

[2020-04-06 04:45] sueboy19 commented on #33
Now newest 0.5.0 get same error. Timestamp can't be transalte.

[2020-04-06 04:58] dalenguyen commented on #33
Thanks for your notice. Could you please include the json and JavaScript code that you used for importing the data?

[2020-04-06 05:34] sueboy19 commented on #33
ooxxooxx.json
[code]
index.js
[code]
package.json
[code]

0.3.2 is success import and transalte timestamp. Use 0.5.0 failed to trsanslate timestamp.

[2020-04-06 05:40] dalenguyen commented on #33
Hi @sueboy19. There was a breaking change few releases ago. The time is moved to options. You can reference the readme.md file for new changes.

[code]

[2020-04-06 05:44] sueboy19 commented on #33
Thank you very much. New version key "dates" can success.

[2020-04-17 08:55] benwinding opened #46 "[Feature Request] Be able to restore to Firebase's official Firestore emulator"
It would be cool to be able to restore a JSON backup using this tool to the [Firestore Emulator](https://firebase.google.com/docs/emulator-suite/install_and_configure#startup).

It would be great to do the following:

1. ✔️ Backup your database to JSON using this tool
2. ✔️ Manually delete most irrelevant data, expect for some test data.
3. Use this tool to restore the JSON to the [emulator in a t

[2020-04-19 07:40] raghavsatyadev commented on #18
Hello, any update on this?

[2020-04-19 22:31] vandres opened #47 "[FR] Allow nested geos, dates and refs for import"
I am trying to import some data, but my data in the documents is nested. For example:

[code]

When I try to import now with the following, it doesn't work. Would be very nice, if the restore function would traverse the JS-Object, when a "." is present.

[code]

[2020-04-21 01:08] dalenguyen commented on #18
Hi @raghavsatyadev, not yet. There is a step in between to update subcollection. I haven't had time to take a deep look into this. Is this something that prevents your app from working?

[2020-04-21 05:13] nwparker commented on #46
I think perhaps the only really needed here is the ability to pass any `db` reference into the export/import methods.

I could be wrong since I haven't tried. But looking at the code briefly it'd appear that it might do the trick.

[2020-04-21 08:24] raghavsatyadev commented on #18
No actually it does not stop it. But this can speed up the process so much. Minimum a 100 times speed. I have used batch process in my native Android app and I can tell it can help in this library too

[2020-05-11 09:17] yahyatabba opened #48 "A problem when import data with references"
Hello,

I have an issue when import with the right keys that have references:

[code]

return:
[code]

How can I fix this?

Thank you

[2020-05-11 09:59] vandres commented on #46
I maybe found a workaround for that.

[code]

When I call node ./scripts/backup.js emulate now, it uses the emulator instead of "Live" account

[2020-05-25 18:25] evallgar opened #50 "Correct usage of restore when date is within array of objects"
Hi there!

I would like to ask how to correctly use restore for date timestamp when data looks like this:

[code]

When I use the command

[code]

I cannot get it to restore it as a timestamp. It restores as a _map_ field.
I have also tried with `'notifications[].date'` and simply `'date'` unsuccessfully.

Any help is greatly appreciated. Thanks.

[2020-05-26 04:46] dalenguyen commented on #47
Added in v0.6.0

[2020-05-26 04:46] #47 closed

[2020-05-26 04:49] dalenguyen commented on #48
Hi @yahyatabba, what is your users.json sample?

It looks like the path is empty.

[2020-05-26 04:51] dalenguyen commented on #50
Hi @evallgar, an object of data under array is not supported yet. I will figure a solution to solve this. You can check the code and make some changes to support this case if you want to contribute.

[2020-05-31 14:25] comxd commented on #48
Check your JSON file, it probably contain a "map" type field with a "_firestore" key... Replace by the reference as string like `user/123`.

[2020-06-01 21:19] andersbc commented on #46
@vandres: I tried your workaround, but it gives me `Error: 7 PERMISSION_DENIED: Metadata operations require admin authentication.`

[2020-06-15 09:50] bowtiedalien opened #54 "Is there a way to save the data in a file rather than printing into console.log?"
I'd like to save the data I export from firestore to a file in my local storage disk instead of doing console.log(). Is there a way to do so by adding to the current code?

[2020-06-17 03:03] dalenguyen commented on #54
Hi @bowtiedalien, you can write a script to write it to a file after getting the data.

https://stackoverflow.com/questions/36856232/write-add-data-in-json-file-using-node-js

[2020-06-17 03:03] #54 closed

[2020-06-23 10:03] burhankhanzada199888 opened #55 "Ony one subcollection get export from backup method"
i think the problem is with this line because this overwrite the extisting data so the last sub collection is only printed
`data[collectionName][doc.id]['subCollection'] = subColData;`

or is there is something wrong with my code
[code]

[2020-06-26 22:55] bruno-machado commented on #55
This is also happening to me!

[2020-07-02 22:27] dalenguyen commented on #55
Should be fixed in v0.6.1

[2020-07-02 22:27] #55 closed

[2020-07-10 12:23] vandres opened #60 "`nested` not working"
Hi @dalenguyen

I think you merged out my changes for the support of nested dates, geos and refs. Can it be?

[2020-07-10 12:46] dalenguyen commented on #60
Hi @vandres, does it work without passing the `nested`? I should work by default for nested items.

[2020-07-10 12:50] vandres commented on #60
Ah, I think I see what you did. Now I have to make something like `location.home.geopoint`?!

[2020-07-10 13:26] dalenguyen commented on #60
Yes, for paths that have special attributes.

[2020-07-10 13:32] vandres commented on #60
Ok, thanks for the heads up

[2020-07-10 13:32] #60 closed

[2020-07-12 16:26] Subroid commented on #25
Is this feature available to this repo too?
https://github.com/dalenguyen/firestore-import-export

[2020-07-13 15:36] dalenguyen commented on #25
Hi @Subroid, it's not. You should move to this repo.

[2020-07-29 20:26] Parranoh commented on #50
If you put this in `helper.ts`

[code]

and replace the relevant part in `import.ts` with

[code]

(similarly for refs and and geos), that should do the trick. I've tested it only with one set of data though.

In the above example you'd use `'notifcations.date'` to get the desired result; the layer of the array in the JSON tree basically gets skipped.

[2020-08-17 01:34] Prajwal-Koirala opened #62 "Multiple issues."
Hello;
i truly love this but i need some help, i did a sample import but the issue is that all the things i imported went from `0,1,3,4,5,6,7,8,9,10,11..` is there anyway to get random document id?

---
https://github.com/complexorganizations/firestore-export-import

Just going to rewrite this in golang cause of the amount of errors.
[code]

[2020-08-17 10:24] chrisjacobs91 commented on #46
@vandres This works great for creating a backup of the emulator environment. How would I rewrite this to import my **live** data into the emulated Firestore?

[2020-08-17 10:27] vandres commented on #46
@chrisjacobs91 instead of using `firestoreService.backups([])` you just need to use `firestoreService.restore('collections.json')`

[2020-08-17 10:30] chrisjacobs91 commented on #46
ah ok, thanks. And to create the collections.json file in the required format, I just need to replace the console.log line with some code to export the data as a .json file instead?

(I can't copy and paste from the console as my data is too big and the console just cuts it off)

[2020-08-17 10:33] vandres commented on #46
I wrote two scripts for myself and call them like that:

`node ./scripts/backup.js > collections.json` // fetches the live data

`node ./scripts/import.js emulate` // imports them locally

[2020-08-17 10:38] chrisjacobs91 commented on #46
@vandres would you be happy to share these scripts? I'm really new to js so would be extremely helpful! 🙏

[2020-08-17 11:03] chrisjacobs91 commented on #46
ah I managed it! here are some scripts for future reference for anyone:

### export.js
[code]

### import.js (to be run with 'emulate' argument in the CLI)
[code]

[2020-08-17 17:18] dalenguyen commented on #46
Thank @chrisjacobs91!!!

[2020-08-17 18:16] dalenguyen commented on #62
Hi @Prajwal-Koirala, how does your data structure look like?

You may need to massage the data before importing in order to generate a random id.

https://github.com/dalenguyen/firestore-backup-restore#import-data-to-firestore-auto-generate-document-id

[2020-09-02 04:27] benwinding opened #63 "Export only part of a collection (like a single document)"
For testing purposes, we want to export a small subset of a Firestore database.

Ideally we'd like to get only a single document, from all collections and subcollections,
So instead of `10,000` documents from the `users` collection, just export 1 document.

Is this currently possible?

[2020-09-05 02:26] dalenguyen commented on #63
It's available in v0.7.0. Thank @benwinding for your contribution.

[2020-09-05 02:26] #63 closed

[2020-09-07 07:49] benwinding opened #67 "[Feature] Automatic Timestamp Parsing"
I noticed this package requires you to explicitly state the Timestamp fields in the documents when restoring.

Would you be interested in having an option that allows for automatic timestamp parsing in documents? We've implemented it several times before and can submit a PR :+1:

[2020-09-15 15:28] younes0 opened #70 "no subcollection export if document has no field"
if document contains a subcollection but no fields, export method will ignore the document.

[2020-09-15 16:02] dalenguyen commented on #70
HI @younes0, how does the name look like? Is it _italic_?

[2020-09-15 16:04] younes0 commented on #70
Hello @dalenguyen
exactly, it is italic on the firestore UI

[2020-09-15 16:08] dalenguyen commented on #70
Yeah, here a thread from Firebase guy.

`The document IDs for these are shown as italicized ids in the UI: these documents do not actually exist, but we show them so that you can navigate to the sub collections.

Since there is no document anymore, the document itself will not show up in query results.`

You add a dummy field to bring it back to life.

https://stackoverflow.com/a/48138953/3103548

[2020-09-15 16:08] #70 closed

[2020-09-15 16:10] younes0 commented on #70
@dalenguyen thank you. it's a surprising behavior.

[2020-09-15 20:49] #67 closed

[2020-10-02 05:17] manaskumar-syon opened #72 "Not Working"
firestoreService.backups()

firestoreService.backups(['col1', 'col2' ])   not working

single collection import export is working perfectly , but all collection backup not working.

[2020-10-03 06:46] #72 closed

[2020-11-23 15:08] theoreticalsampling commented on #46
Hi there,

I just can't get this to work. When I execute `node import.js emulate` I get `<id> was successfully added to firestore!` but I can't see any of the data, I'm trying to add when I check `http://127.0.0.1:4000/firestore`

[2020-12-02 17:55] russellr86 commented on #48
@dalenguyen https://github.com/dalenguyen/firestore-backup-restore/pull/75

I think the issue is the export doesn't store refs as paths (or at least it doesn't anymore)

[2020-12-07 00:48] dalenguyen commented on #62
Closed due to inactivity.

[2020-12-07 00:48] #62 closed

[2020-12-07 02:15] dalenguyen commented on #48
Added reference options for export in v0.9.0

[2020-12-07 02:15] #48 closed

[2021-01-20 19:08] jeffreydavis83 opened #80 "Migrating Real Time to Firestore"
Sorry, this is more of a question. I am new to web development.

Can this tool be used to migrate db from Realtime to Firestrore? Will it support deeply nested documents and a single large json file (around 50 mb)?

[2021-01-20 23:19] dalenguyen commented on #80
Hi @jeffreydavis83, I think it's possible. You can download data in Realtime database, then convert the format to the package before migrating.

[2021-02-01 20:58] Pascaltje opened #83 "Geopointers in array of map are imported as numbers"
I just exported an collection and try to import it but when I do the geopointers are numbers and not as geopointer

my import code:
`restore('export.json', {
  dates: [],
  geos: ['location', 'polylines', 'centerPoint'],
  refs: [],
})`

The small version of the json I try to import:

[code]

[2021-02-03 14:31] JimmyJims opened #84 "Handle reference fields in maps"
Hello,

i've just try to export a collection with some reference fields into maps but it doesn't seem to work.

![collection](https://user-images.githubusercontent.com/21194422/106760899-92abd780-6634-11eb-92b3-9c20ae8077f4.PNG)

Export result :
![export](https://user-images.githubusercontent.com/21194422/106760347-ff72a200-6633-11eb-8dad-c5fc611ccc60.PNG)

Is there a way to handle this case with

[2021-02-07 03:30] ccfiel opened #85 "Backup specific document with a subcollection in a collection"
How can I backup specific document with a subcollection in a collection. I tried this code
[code]

I got this error

[code]

I want to have a selective backup per user Id. Any Advice how to this?

[2021-02-20 15:38] thanh01pmt opened #86 "Wrong Setup in Index.ts"
**There is no key "databaseURL" in "servicceAccount"**
=> This affects to Initialize App when import Json to Firestore in my case.

---------------------------------------------------------------------------------------------------------
export const initializeApp = (serviceAccount: object, name = '[DEFAULT]') => {
  if (
    admin.apps.length === 0 ||
    (admin.apps.length > 0 && admin.app().nam

[2021-02-21 12:46] Joebayld opened #87 "Private keys exposed with DocumentReference"
I've found that if you do an export without any options, and one of your fields is of type `DocumentReference`, then the library thinks the DocumentRef is a JSON object and exports the entire object. This is very dangerous because this includes any firebase settings (Private Keys included!).

If in the wrong hands, your private keys could be exposed. This is not good.

Attaching a screenshot of th

[2021-02-21 12:52] Joebayld commented on #19
I would also like to see this. Another library has a similar function - but the library isn't maintained anymore.

https://github.com/jloosli/node-firestore-import-export#clearing

Some sort of function for a recursive delete would be useful - since a lot of the helper functions already exist in this library.

[2021-02-22 00:43] dalenguyen commented on #80
I hope that you were able to achieve it.

[2021-02-22 00:43] #80 closed

[2021-02-22 02:36] dalenguyen commented on #86
Hi @thanh01pmt, can you add the databaseURL to your serviceAccount file?

Or initialize by using normal process, then you can use the backup & restore feature.

Let me know if it works.

[2021-02-22 02:43] dalenguyen commented on #87
Thanks for your report. I will follow the discussion firebase-admin-node issue and see if there is any solution for it.

[2021-02-22 02:43] #87 closed

[2021-02-22 02:44] dalenguyen commented on #84
Hi @JimmyJims, can you update the package to v0.11.0 and add the `current_os.document_reference` to the refs array?

[2021-02-22 02:48] dalenguyen commented on #85
For a single node, it's better to use firestore get data method. It's much faster.

https://firebase.google.com/docs/firestore/query-data/get-data

[2021-02-22 02:48] #85 closed

[2021-02-22 02:50] dalenguyen commented on #83
The package doesn't support geos in an array yet.

[2021-02-23 18:05] ddevoss commented on #72
For anybody who is frantically trying to figure out why this might be happening, I found that one of my permissions weren't set right, so I wasn't able to read from one collection. Because of this backups() wasn't working, and it didn't give any errors. Hopefully this helps somebody!

[2021-02-24 13:36] JimmyJims commented on #84
Hi @dalenguyen, thanks for the update, it works !

Just one thing, i got a crash if the document_reference value is null.

[2021-02-24 20:48] dalenguyen commented on #84
Thanks, @JimmyJims, I will add a check for null value in the next few days.

[2021-02-26 23:08] dalenguyen commented on #84
Should be fixed in v0.12.1

[2021-02-26 23:08] #84 closed

[2021-03-02 19:16] MarcusGV opened #95 "Default Firebase app does not exist"
Please some help, Im using node but when I try to restore a collection I got this error, any help please?

errorInfo: {
    code: 'app/no-app',
    message: 'The default Firebase app does not exist. Make sure you call initializeApp() before using any
of the Firebase services.'
  },
  codePrefix: 'app'
}

[2021-03-04 14:26] dalenguyen commented on #95
Hi @MarcusGV you need to initialize the firebase app before running the restore functions.

[2021-03-05 07:38] theoreticalsampling opened #96 "The requested snapshot version is too old"
I try to export a large collection. The code I use, to do the export looks like this:

[code]

When I run the export, I get this error message:

[code]

Is there any solution to this?

[2021-03-05 14:11] dalenguyen commented on #96
Hi @theoreticalsampling, can you create a test collection and check if it works.

[2021-03-05 15:43] theoreticalsampling commented on #96
@dalenguyen Hi

I did that. I exported some collections from the same firebase project without any problems. But I can't export this large collection, due to this error.

[2021-03-05 15:46] dalenguyen commented on #96
I think the process took too long. Then your snapshot expires before returning the result.

[code]

https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.snapshots/create

[2021-03-08 03:30] Prajwal-Koirala opened #97 "Alternative written in golang"
https://github.com/complexorganizations/firestore-manager

It pretty much does the same thing but written in golang so there is no errors nor memory limits or any other issues in between.

give it a try.

[2021-03-08 14:56] #97 closed

[2021-03-09 07:55] ECnetHub commented on #95
I got the same error.
I found should use <initializeApp(serviceAccount, appName)> inteal of <initializeApp(serviceAccount, databaseURL, appName)>.
Remove <databaseURL> away.

[2021-03-10 08:55] theoreticalsampling commented on #96
That's quite possible ... but how cloud I solve this problem? Is there any way, I could only export a specific range of the collection?

[2021-03-13 16:29] dalenguyen commented on #96
You can try to add query to the backup script.

[code]

[2021-03-18 18:09] myktra commented on #95
This behavior changed in v0.9.0. If you had been passing the `databaseUrl` parameter before, and upgraded to v0.9.0 or newer, it is no longer used and this initialization error will be thrown. Dropping the `appName` parameter entirely (and implying use of the default app in Firebase) worked for me.

[2021-03-21 13:33] dalenguyen commented on #95
Thanks @myktra.

[2021-03-21 13:33] #95 closed

[2021-03-30 20:41] raqso commented on #46
I think now it's possible in the newest version of the package. You just need to:

[code]

It has been added by #100

[2021-04-05 16:45] thetinshusasi commented on #96
This also fails when u try to iterate over a set of property id

[2021-04-17 14:07] JoseVigil opened #102 "Convert path when importing reference"
Hi Dale,

Import export works great, however it does not import relations as relations but as maps. Imported reference contains three fields containing maps: _converted, _firestore and _path.

How about instead of setting the map you create a real reference with the _path values? This way the information would remain as same means as in the original.

Thanks!
Jose

[2021-04-21 01:55] dalenguyen commented on #102
Hi @JoseVigil, I still don't understand this yet. Could you please provide some detailed samples? Thanks,

[2021-04-27 06:44] mohamedzakigithub opened #103 "Execlude subcollections export"
Basically I want to shallow export my collections. so I have a products top collection and in each document there is a history sub collection. so I would like to export the documents in the prodcut collection and execlude the sub collection.

[2021-04-29 21:22] dalenguyen commented on #103
Hi @mohamedzakigithub, this can be done by using the normal query from firestore.

https://firebase.google.com/docs/firestore/query-data/get-data#get_all_documents_in_a_collection

[2021-05-09 23:17] YassinAJDI opened #104 "Firestore Auto generated IDs"
Is there a way to change current auto ids from using uuidv1 format: `53323bd0-b116-11eb-bbe5-ef197ba671aa`
to something like default firestore Auto IDs format: `YV74vPOT0cARsWK1qsqk`

[2021-05-10 14:27] dalenguyen commented on #104
It's the default id generation. It can be changed by adding an option when importing (need development) or you can transform your data to include the id.

[2021-05-17 12:13] PembaTamang opened #108 "No connection established"
My code
[code]
Error
[code]

[2021-06-12 22:47] francescopellegrini opened #110 "Bad parsing of arrays of DocumentReferences"
Given an exported data as follows:

[code]

the `refArray` field gets parsed into `'collection2/document2-ref` instead of an array of strings.

This is because the field is completely overridden while looping on the original array.

https://github.com/dalenguyen/firestore-backup-restore/blob/62385dd250943acf67578698f23168dd2e0286ef/src/export.ts#L82-L84

The appropriate way of mapping the array va

[2021-06-24 07:53] voodooart opened #111 "Account credentials file does not exist"
Account credentials file does not exist:, and my file credentials is correctly and paths.

**I Run the command in my console CLI:**
`firestore-export --accountCredentials C:\Users\xxxx\Backups\credentials-261b174583.json --backupFile C:\Users\xxxx\Backups\Sephar\Backup_24-6-21.json`

**Return error:**
Account credentials file does not exist

**In File Credentials:**
[code]

**What is the problem?*

[2021-07-01 15:53] YassinAJDI commented on #104
Thanks! I have decided to use hard-coded keys instead of auto IDs.

I'm gonna close this issue. Thank you!

[2021-07-01 15:53] #104 closed

[2021-07-24 15:51] dalenguyen commented on #111
Hi @voodooart, I don't think it's how the package works. Please check readme.md for instructions.

https://github.com/dalenguyen/firestore-backup-restore

[2021-07-24 15:51] #111 closed

[2021-07-24 15:52] dalenguyen commented on #108
I think the `localhost` is not set up correctly.

[2021-07-24 15:52] #108 closed

[2021-08-05 08:18] shubhankar30 commented on #103
Has anyone found a solution to this? Cant we set a boolean within options like: "exportSubcollections :  false" ?

[2021-08-23 06:36] kirill1a opened #116 "restoring with nested ref is not working"
If I'm making restore of a document that has nested ref, and it is restoring it as a string (array and regular ref are working)

Steps to reproduce:
take the import-to-firestore.json inside the tests and just import it to the emulator
with refs: ['secondRef', 'arrayRef', 'nestedRef.secondRef']

You will see that secondRef is ref, arrayRef is array of refs and nestedRef.secondRef is a string

![ima

[2021-10-21 18:31] matteobucci commented on #103
I'm working on a fix for this. I noticed that fetching for subcollections also decrease enormously the speed of the export

[2021-11-18 21:13] galaxyblur commented on #116
Also experiencing this with an array of references

[2021-12-23 12:58] yingwei1025 opened #121 "Logging when backup and restore"
Hello there, is there any way can print out the log while doing backup and restore ? Because my backup usually take very long time and it will be good if can see any log is running.

Thank you.

[2021-12-23 18:15] dalenguyen commented on #121
Hi @yingwei1025, there is a flag `showLogs` that you can try to use in order to show logs while importing.

https://github.com/dalenguyen/firestore-backup-restore#import--restore-options

[2021-12-24 01:16] yingwei1025 commented on #121
Hi, is it apply on backup also? I try below like this but only show Promise { <pending> }

[code]

Thank you

[2021-12-24 15:19] dalenguyen commented on #121
Hi @yingwei1025, it only appears when you import / restore data. Does it backup everything you have from the firestore?

[2021-12-24 16:55] yingwei1025 commented on #121
I try backup from single collection only

[2022-02-08 03:29] iocuydi opened #122 "Backups() Extremely Slow"
I have a tiny firestore <1mb in size. ~20 collections, three subcollections of ~5 items, and one subcollection of 100 items. Using backups() to export the whole thing takes several minutes.

    const appName = 'x'
    fsBackup.initializeApp(serviceAccount)
    let reso = await fsBackup.backups() // Array of collection's name is OPTIONAL
      .then((collections) => {
        // You can do whateve

[2022-02-09 00:56] dalenguyen commented on #122
Hi @iocuydi, it will be slow since the firebase query is shallow, it will need to query for all subcollection, then combine them together which will make it slow if you have subcollection.

[2022-02-17 06:19] mohdasim8018 opened #123 "[Question] Does exporting data cost reads in firestore with Spark plan?"

[2022-02-17 14:36] dalenguyen commented on #123
Yes, it interacts with your firestore, so it will affect the reads with any plans that you have.

[2022-02-17 14:36] #123 closed

[2022-02-17 14:55] mohdasim8018 commented on #123
It may be a silly question, Still will it cost one read per document retrieved with this library or there is some optimization to perform less reads?

[2022-02-18 16:29] dalenguyen commented on #123
It will read all documents under a collection - no optimization here. How many documents do you have?

[2022-03-08 11:25] CoachBenedetto commented on #122
I had the same problem and fixed it through parallelization of querying. Pull request is online @iocuydi

[2022-03-14 03:29] dalenguyen commented on #122
Deployed the new version. Hopefully, it will run faster now.

Thanks, @CoachBenedetto :D

[2022-03-14 03:29] #122 closed

[2022-03-20 15:29] janoshr opened #128 "GoogleError, Timeout in version 1.0.0"
I had an older version of this package, v0.10.0, I made a backup (took a couple of hours but worked, the database is quite large) I upgraded to v1.0.0 and I got the following errors:

[code]

I ran it two times the following was the first error that I got
[code]

Then I reverted back to the older version v0.10.0 and it works fine again.

I used the same node version and everything the only thing t

[2022-03-20 15:55] dalenguyen commented on #128
Hi @janoshr, I just update the version of the `google-gax`. Can you try it again in `v1.0.1`?

I saw a potential fix for retry & timeout on their end.

https://github.com/googleapis/gax-nodejs/pull/1100

[2022-03-20 16:04] dalenguyen commented on #26
There was an improvement for backing up in parallel in the latest version. Not sure you still have this issue?

[2022-03-20 16:04] dalenguyen commented on #102
Close due to inactivity.

[2022-03-20 16:04] #102 closed

[2022-03-20 17:20] janoshr commented on #128
Unfortunately, the issue persists

[code]

[2022-03-20 18:49] dalenguyen commented on #128
You don't see this error anymore?

`Total timeout of API google.firestore.v1.Firestore exceeded 60000 milliseconds before any response was received`

I think meanwhile you can use the old version before this one is fixed.

[2022-03-21 19:43] Cweaver136 opened #129 "Certain Collections Return Empty Object"
Great tool, has worked well out of the box. I'm curious if you can shed any light on an issue I'm running into. Most collections I am able to get back up data from, but not all. I created a testing collection, with subCollections and all types of data in it.. and everything was gathered properly. For whatever reason, an existing collection that I had defined will not return any information, and I

[2022-03-22 01:25] dalenguyen commented on #129
Hi @Cweaver136, I'm not sure what happened. It would be great if you can provide some example data structure, & the script that you run. I can check it on my end.

[2022-03-22 11:04] Cweaver136 commented on #129
Yep, for sure. I'm not sure how much of the data structure I can share, as it's pertaining to user data.

Here's the script:

     const { backups } = require('firestore-export-import')
     exports.function = functions.https.onRequest(() => {
          let fireStoreBucketName = "nameOfBucket";

         // collections in Firestore, all
         // companies -> document keys -> directories -> docu

[2022-03-23 14:27] Cweaver136 commented on #129
One thing that we thought of this morning, could it be related to the size of the collection? The collection (companies) that we're trying to grab would be around 780 MB.

[2022-03-23 14:32] dalenguyen commented on #129
There's a parallel backup refactor that may impact it. Can you try it in version 0.18.0?

If the size is too big, it may impact the new version.

[2022-03-23 19:03] Cweaver136 commented on #129
Can't seem to test it well. Installing 0.18.0 with `npm install https://github.com/dalenguyen/firestore-backup-restore#v.0.18.0`

Results in this:

`Error: Cannot find module '/workspaces/photoheight/functions/node_modules/firestore-export-import/dist/index.js'. Please verify that the package.json has a valid "main" entry
    at tryPackage (internal/modules/cjs/loader.js:303:19)
    at Function.Mo

[2022-03-24 10:51] Cweaver136 commented on #129
Figured it out! Our existing collection was created with deep paths originally, and I guess that doesn't actually create the top-level documents.

![image](https://user-images.githubusercontent.com/38464035/159900579-dae94337-142e-46b0-93c4-3b810d4735df.png)

[Non-Existent Ancestoral Documents](https://firebase.google.com/docs/firestore/using-console?authuser=2&hl=en#non-existent_ancestor_document

[2022-03-24 15:47] dalenguyen commented on #129
Wow, good to know the causes. I'm glad that you figured it out.

[2022-03-24 15:47] #129 closed

[2022-03-25 11:22] mijiapps commented on #128
I am running into the same thing.

[2022-03-25 13:06] h1r0mu opened #130 "Invalid code example in README"
Hi, I found mismatch between an example in README and the actual code. The first example in README imports `initializeApp`, but it's actually `initializeFirebaseApp` [1].

[code]

[1] https://github.com/dalenguyen/firestore-backup-restore/blob/dev/src/index.ts#L18

[2022-03-25 15:43] dalenguyen commented on #128
Hi @mijiapps, which version of `google-gax` did you install?

[2022-03-25 16:31] #130 closed

[2022-03-25 19:53] mijiapps commented on #128
@dalenguyen `google-gax@2.30.1`.

[2022-03-25 20:46] dalenguyen commented on #128
Thanks, I upgrade the package with `google-gax@2.30.1` in v1.1.0. Hopefully, it solved this issue.

[2022-03-27 15:40] dalenguyen commented on #26
Close due to inactiviy.

[2022-03-27 15:40] #26 closed

[2022-04-21 04:58] PranayDosii opened #133 "npm i firestore-export-import not working on mac"
I am trying to install `npm i firestore-export-import` as well as `npm install firestore-export-import` but both commands not working when trying to run ```firestore-export --accountCredentials path/to/credentials/file.json --backupFile /backups/myDatabase.json --prettyPrint```  I am getting command not found error.  But the package exists in my `/usr/local/lib`
[code]

[2022-04-21 19:02] dalenguyen commented on #133
Hi @PranayDosii, the package doesn't provide a command line feature. You can check the example of how to implement it here:

https://github.com/dalenguyen/firestore-backup-restore/blob/dev/README.md

[2022-04-22 03:51] PranayDosii commented on #133
I solved my problem thank you for your support

[2022-04-22 03:51] #133 closed

[2022-05-25 09:03] bertmeeuws opened #134 "Restore a bit slow?"
I am restoring around 5648 documents which takes around 8 minutes, my nodejs task is outputting around 700kb/sec. Could this be made faster or is this a limitation of firestore?

Perhaps I could slice the documents and run them parallel?

[2022-05-25 11:48] bertmeeuws commented on #134
Used the npm library concurrently and ran multiple instances each with a different slice.

[2022-05-25 11:48] #134 closed

[2022-05-25 12:37] dalenguyen commented on #134
I'm glad that you found a solution for faster restoration :D

[2022-06-03 21:22] drmencos opened #136 "Timestamp field fails to import nanoseconds"
Hello!

I'm trying to import a date field with nanoseconds, the problem is, when I query the data from Firestore I always get 0 nanoseconds.

I'm using v1.1.0.
My client is in Angular Fire v7.3.0.

This is my json data:

[code]

The response:

[code]

I tried using ` dates: ['date']` and `autoParseDates: true`. Both ways the dates are parsed ok, and they're displayed correctly in Firebase Console,

[2022-06-10 22:22] drmencos commented on #136
Ok, is not the client. I manually added the document and the client responded with the correct nanoseconds value.

[2022-06-15 16:39] dalenguyen commented on #136
@drmencos how did you try with the client?

[2022-06-20 19:09] drmencos commented on #136
@dalenguyen, I converted the date object to a Timestamp before sending the document:

[code]

[2022-09-15 14:00] RamDivrania opened #144 "Build and deployment failed due to an error."
I've no exact title for this error, but it's not working for me.

[code]

Below are a few package versions I'm using atm..

[code]

Tried upgrade, downgrading and other stuff but nothing is working.

`firebase deploy --project staging --token $FIREBASE_TOKEN`

[2022-09-15 15:39] RamDivrania commented on #144
can't we use `firebase-admin` and `firestore-export-import` together?
This problem occurs only when I try to import/initialise both. as my cloud function already using firebase-admin.

[code]

[2022-09-15 20:12] dalenguyen commented on #144
Looks like it relates to @google-cloud packages. Do you have a sample repo that I can have a look at?

[2022-09-16 05:14] RamDivrania commented on #144
[code]

[2022-09-19 13:55] dalenguyen commented on #144
Hi @RamDivrania, you should initialize app once. You can use this only.

[code]

[2022-09-19 19:53] dalenguyen commented on #144
You also want to add `"skipLibCheck": true` to your tsconfig.json.

https://www.typescriptlang.org/tsconfig/#skipLibCheck

[2022-09-19 19:53] #144 closed

[2022-09-22 11:21] RamDivrania commented on #144
Hello @dalenguyen,
You're right, But as I mentioned earlier, this function is already using firebase-admin for other purposes and I need both packages here because I want normal backup + JSON backup.

[2022-09-22 13:02] dalenguyen commented on #144
@RamDivrania have you tried to `"skipLibCheck": true`?

[2022-09-22 13:23] dalenguyen commented on #144
It's probably you have an older version of Node. Here is a similar error https://github.com/HashLips/hashlips_art_engine/issues/424

[2022-09-27 16:33] RamDivrania commented on #144
Thanks @dalenguyen

I upgraded nodeJs to 14 and firebase-admin to the latest and managed to fix it.

I'm trying to back up 12 collections and getting the below error after a few minutes of run. any suggestions?

`Error: 9 FAILED_PRECONDITION: The requested snapshot version is too old. at Object.callErrorFromStatus (/workspace/node_modules/firestore-export-import/node_modules/@google-cloud/firestor

[2022-10-28 04:24] leoleelf opened #147 "Unable to get subCollection data if setting queryCollection in export options"
If we customize `queryCollection` in export `options` to get partial data in the collection and there are sub-collection data in the documents, the sub-collection data will not be included in the exported file.

### Environment

* [Release v1.3.4 · dalenguyen/firestore-backup-restore](https://github.com/dalenguyen/firestore-backup-restore/releases/tag/v1.3.4)
* [node-v16.13.0-darwin-arm64](https:/

[2022-10-28 09:20] #147 closed

[2022-10-28 09:28] dalenguyen commented on #147
Fixed in v1.3.5

[2022-11-10 13:25] bruno-machado commented on #128
@janoshr Same problema here.Have you managed to fix it?

[2022-11-10 17:07] janoshr commented on #128
@bruno-machado I reverted back, not the best solution but it works for now

[2022-11-10 19:05] bruno-machado commented on #128
@janoshr What version? V0.30?

[2022-11-10 20:33] janoshr commented on #128
@bruno-machado v0.10.0

[2022-11-14 18:50] charlestbell commented on #95
Thanks @myktra that worked for me